@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #212134;
    --background-secondary: #181826;
    --foreground: #ffffff;
    --primary: #7b79ff;
    --border: #32324d;
    --color-gray: #a8a8c7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 1px solid var(--background);
}
